<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <img src="https://www.kindpng.com/picc/m/65-653117_login-button-image-png-log-in-clipart-transparent.png"
            alt="logo" />
          <h5> !! Enter The Email and Password To Login!!</h5>
          <div>
            <form [formGroup]="loginForm">

              <div class="m-3">

                <label for="exampleInputEmail1" class="form-label">UserName</label>
                <input type="text" formControlName="userName" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">

              </div>
              <small *ngIf="loginForm.controls['userName'].touched && loginForm.hasError('required','userName')"
                class="text-danger">*User Name is Required</small>

              <div class="m-2">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
              </div>
              <small *ngIf="loginForm.controls['password'].touched && loginForm.hasError('required','password') "
                class="text-danger">*User Password is Required</small>
              <br>
              <button type="submit" [disabled]="loginForm.invalid" (click)="onLogin()"
                class="btn btn-primary m-3">Login</button>
            </form>

          </div>

        </div>

      </div>

    </div>

  </div>
</div>
